In [6]:
import pandas as pd
import requests  # 인터넷과 통신하기 위한 라이브러리

In [8]:
# 외부의 데이터를 가져오기

# api 주소를 변수에 저장
url = 'http://darkpreist.iptime.org:8080/corona'
# 요청변수를 변수에 저장
param = {
    'id' : '문병선',
    'password' : '1111'
}

result = requests.get(url, params=param)

In [9]:
print(result)

<Response [200]>

In [ ]:
print(result.json())

In [12]:
pd.DataFrame(result.json())

,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt,accDefRate
0,2022-06-08 09:09:05.982,24305,18188200,904,20220608,00:00,None,,
1,2022-06-07 09:09:00.897,24299,18174842,903,20220607,00:00,2022-06-08 09:10:36.846,,
2,2022-06-06 09:00:06.734,24279,18168670,902,20220606,00:00,2022-06-08 09:10:50.441,,
3,2022-06-05 08:53:19.426,24258,18163648,901,20220605,00:00,2022-06-08 09:11:04.758,,
4,2022-06-04 08:56:49.219,24238,18153814,900,20220604,00:00,2022-06-08 09:11:26.303,,
...,...,...,...,...,...,...,...,...,...
815,2020-03-14 00:00:00.000,72,8086,55,20200314,00:00,2021-10-07 10:30:51.51,261335,3.318000336
816,2020-03-13 00:00:00.000,67,7979,54,20200313,00:00,2021-10-07 10:30:51.51,248647,3.458499309
817,2020-03-12 00:00:00.000,66,7869,53,20200312,00:00,2021-10-07 10:30:51.51,234998,3.621744273
818,2020-03-11 00:00:00.000,60,7755,52,20200311,00:00,2021-10-07 10:30:51.51,222395,3.804174536
819,2020-03-10 00:00:00.000,54,7513,51,20200310,00:00,2021-10-07 10:30:51.51,210144,3.919308057