In [5]:
# 변수 선언
a = 10
b = "test"

# 변수 출력
print(a)
print(type(a))
print(b)
print(type(b))

10
<class 'int'>
test
<class 'str'>

In [8]:
a = 'test2'
print(a)

test2

In [9]:
# 불형 데이타
a = True
print(type(a))

b = (100 > 10)
c = (100 < 10)
d = (100 == 100)
print(b,c,d)

<class 'bool'>
True False True

In [11]:
# 산술 연산자
a, b, c = 7, 3, 2
print(a+b,a-b,a*b,a/b,a//b,a%b,a**b)
print(a+b*c, (a+b)*c)

10 4 21 2.3333333333333335 2 1 343
13 20

In [12]:
# 대입 연산자
a += 5
print(a)

12

### 조건문
 - if문

In [13]:
a = 5

if a < 10:
    print("a는 10보다 작다")

a는 10보다 작다

In [14]:
# if else
a = 20

if a < 10:
    print("a는 10보다 작다")
else:
    print("a는 10보다 크거나 같다")

a는 10보다 크거나 같다

In [20]:
# if elif else
score = int(input("점수를 입력하세요: "))

if score > 90:
    print("A")
elif score > 80:
    print("B")
elif score > 70:
    print("C")    
else:
    print("F")
print("프로그램 종료")

B
프로그램 종료

In [18]:
# 반복문
# for문

for i in range(0,10,1):
    print("%d번째 반복" %i)

0번째 반복
1번째 반복
2번째 반복
3번째 반복
4번째 반복
5번째 반복
6번째 반복
7번째 반복
8번째 반복
9번째 반복

In [24]:
# 1부터 10까지 합산

sum = 0

for i in range(1,11,1):
    sum += i
    print("%d번째 합은 %d 이다" %(i,sum))
print("1부터 10까지 합은 %d" %sum)

1번째 합은 1 이다
2번째 합은 3 이다
3번째 합은 6 이다
4번째 합은 10 이다
5번째 합은 15 이다
6번째 합은 21 이다
7번째 합은 28 이다
8번째 합은 36 이다
9번째 합은 45 이다
10번째 합은 55 이다
1부터 10까지 합은 55

In [29]:
#구구단

for i in range(2,10,1):
    print(end = " \n")
    print("%d단" %i)
    for j in range(1,10,1):
        print("%d*%d=%d" %(i,j,i*j), end =" ")

2단
2*1=2 2*2=4 2*3=6 2*4=8 2*5=10 2*6=12 2*7=14 2*8=16 2*9=18
3단
3*1=3 3*2=6 3*3=9 3*4=12 3*5=15 3*6=18 3*7=21 3*8=24 3*9=27
4단
4*1=4 4*2=8 4*3=12 4*4=16 4*5=20 4*6=24 4*7=28 4*8=32 4*9=36
5단
5*1=5 5*2=10 5*3=15 5*4=20 5*5=25 5*6=30 5*7=35 5*8=40 5*9=45
6단
6*1=6 6*2=12 6*3=18 6*4=24 6*5=30 6*6=36 6*7=42 6*8=48 6*9=54
7단
7*1=7 7*2=14 7*3=21 7*4=28 7*5=35 7*6=42 7*7=49 7*8=56 7*9=63
8단
8*1=8 8*2=16 8*3=24 8*4=32 8*5=40 8*6=48 8*7=56 8*8=64 8*9=72
9단
9*1=9 9*2=18 9*3=27 9*4=36 9*5=45 9*6=54 9*7=63 9*8=72 9*9=81

In [33]:
# 1부터 100까지 숫자중에 짝수의 합계를 구한다.
sum = 0
for i in range(1,101,1):
    if i%2==0:
        sum += i
        print("%d까지 합은 %d이다" %(i,sum))
print(sum)

2까지 합은 2이다
4까지 합은 6이다
6까지 합은 12이다
8까지 합은 20이다
10까지 합은 30이다
12까지 합은 42이다
14까지 합은 56이다
16까지 합은 72이다
18까지 합은 90이다
20까지 합은 110이다
22까지 합은 132이다
24까지 합은 156이다
26까지 합은 182이다
28까지 합은 210이다
30까지 합은 240이다
32까지 합은 272이다
34까지 합은 306이다
36까지 합은 342이다
38까지 합은 380이다
40까지 합은 420이다
42까지 합은 462이다
44까지 합은 506이다
46까지 합은 552이다
48까지 합은 600이다
50까지 합은 650이다
52까지 합은 702이다
54까지 합은 756이다
56까지 합은 812이다
58까지 합은 870이다
60까지 합은 930이다
62까지 합은 992이다
64까지 합은 1056이다
66까지 합은 1122이다
68까지 합은 1190이다
70까지 합은 1260이다
72까지 합은 1332이다
74까지 합은 1406이다
76까지 합은 1482이다
78까지 합은 1560이다
80까지 합은 1640이다
82까지 합은 1722이다
84까지 합은 1806이다
86까지 합은 1892이다
88까지 합은 1980이다
90까지 합은 2070이다
92까지 합은 2162이다
94까지 합은 2256이다
96까지 합은 2352이다
98까지 합은 2450이다
100까지 합은 2550이다
2550

In [32]:
# 2개의 주사위를 굴려 두 2주사위의 합이 5가 되는 것


for i in range(1,7,1):
    for j in range(1,7,1):
        if i + j == 5:
            print(i,j)

1 4
2 3
3 2
4 1

In [34]:
#while
i = 0

while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

In [35]:
# break

for i in range(1,101,1):
    if i == 5:
        print("%d번째 반복" %i)
        break

5번째 반복

In [37]:
# 1부터 100까지 합계가 500이 넘어가는 숫자와 합계

sum = 0
for i in range(1,101,1):
    sum += i
    if sum > 500:
        break
print("합계가 500을 넘어가는 수는 %d이고, 합계는 %d이다" %(i,sum))

합계가 500을 넘어가는 수는 32이고, 합계는 528이다

In [48]:
i = 1
sum = 0

while i <= 100:
   sum += i
   if sum >=500:
    break
   i += 1 

print("합계가 500을 넘어가는 수는 %d이고, 합계는 %d이다" %(i,sum))

합계가 500을 넘어가는 수는 32이고, 합계는 528이다

In [53]:
#continue
# 짝수 합계
sum = 0
for i in range(1,101,1):
    if i%2 != 0:
        continue
    sum += i

print(sum)

2550

In [54]:
#튜플
a = (1, "hello")
b = (3, 3.14)
c = a + b
d = a * 3
e = a[1]

print(a,b,c,d,e)

(1, 'hello') (3, 3.14) (1, 'hello', 3, 3.14) (1, 'hello', 1, 'hello', 1, 'hello') hello

In [59]:
# list 
a = [20,10,50,5]
b = [10,20,30,40]

a.sort()
print(a)
b.reverse()
print(b)
a.append(22)
print(a)
c=list()
print(type(c))

[5, 10, 20, 50]
[40, 30, 20, 10]
[5, 10, 20, 50, 22]
<class 'list'>

In [74]:
a = []
for i in range(1,71,1):
    if i%3 == 0:
        a.append(i)
print("3의배수는\n",a)

sum = 0
for i in a:
    sum += i
print("\n","합은", sum, "이다")

3의배수는
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

 합은 828 이다

In [79]:
#딕셔너리
dic = {
    "name" : "test1",
    "age" : 20,
    "phone" : "0102345566"
}
print(dic)
dic["area"] = "seoul"
print(dic)

{'name': 'test1', 'age': 20, 'phone': '0102345566'}
{'name': 'test1', 'age': 20, 'phone': '0102345566', 'area': 'seoul'}

In [94]:
test_data = [
    {
        "name" : "test1",
        "age" : 20
    },
    {
        "name" : "test2",
        "age" : 30
    },
    {
        "name" : "test3",
        "age" : 40
    }
]

b = test_data[0]
print(b)
c = b["name"]
print(c)

print(test_data[0]["name"])

{'name': 'test1', 'age': 20}
test1
test1

In [95]:
names=[]

for i in test_data:
    names.append(i["name"])
print(names)

['test1', 'test2', 'test3']

In [104]:
#문자열 변환

a = " hello World  "
a.upper()
print(a)
print(a.upper())
print(a.lstrip())
print(a.rstrip())
print(a.strip())
print(a.replace(" ",""))

 hello World
 HELLO WORLD
hello World
 hello World
hello World
helloWorld

In [106]:
a = "a,b,c,d,e"
print(a)
a.split(",")
print(a.split(","))

a,b,c,d,e
['a', 'b', 'c', 'd', 'e']

###함수

In [108]:
def func_1():
    return "Hello world"

a = func_1()
print(a)

Hello world

In [110]:
def func_2(x,y):
    result = x + y
    return result
print(func_2(1,3))

4

In [112]:
def func_3(x,y=3):
    result = x + y
    return result
print(func_3(1,3))
print(func_3(3))

4
6

In [117]:
def func_4(x,y):
    result = x ** y
    return result
print(func_4(5,2))
print(func_4(y=3, x=2))

25
8

In [147]:
def func_5(x,y):
    sum = 0
    if x < y:
        for i in range(x,y+1,1):
            sum += i
        return sum
    else:
        for i in range(y,x+1,1):
            sum += i
        return sum
print(func_5(1,10))
print(func_5(10,2))

55
54

In [148]:
def func_5(x,y):

    sum = 0
    for i in range(min(x,y),max(x,y)+1,1):
        sum += i
    return sum
    
print(func_5(1,10))
print(func_5(10,2))

55
54

In [145]:
def func_6(x,y):

    a = min(x,y)
    b = max(x,y)
    sum = 0
    while a <= b:
        sum += a
        a += 1
    return sum
    
print(func_6(1,10))
print(func_6(10,2))

55
54

In [160]:
# 매개변수 3개 x, y ,z 
# z값이 "합"이면 x+y 
# z값이 "차"이면 x-y 리턴
# z값이 둘다 아니면 "연산값이 잘못되었습니다."

def func_7(x,y,z):
    if z == "합":
        result = x+y
    elif z == "차":
        result = x-y
    else:
        result ="연산식이 잘못되었습니다."
    return result

print(func_7(10,5,'합'))
print(func_7(10,5,"차"))
print(func_7(10,5,"곱"))

15
5
연산식이 잘못되었습니다.

In [173]:
def func_8(x):
    result = x**2
    return result

result=[]
a = [1,2,3,4]
for i in a:
    result.append(func_8(i))
print(result)

[1, 4, 9, 16]

In [174]:
#map 함수
result_2 = list(map(func_8, a))
print(result_2)

[1, 4, 9, 16]

In [175]:
# lambda 함수
lamb = lambda x : x**2
print(list(map(lamb,a)))

[1, 4, 9, 16]