# 페르마의 정리
   > n이 2보다 큰 자연수인 경우에 a<sup>n</sup> + b<sup>n</sup> = c<sup>n</sup> 이 되는 자연수 a, b, c 는 존재하지 않는다  
   > n이 3이고 a, b, c가 1부터 10까지 자연수 일 때 페르마의 마지막 정리가 사실임을 증명하시오  
- (for문을 이용하여 증명하시오)

In [112]:
n= 3
for a in range(1,11,1):
    for b in range(1,11,1):
        for c in range(1,11,1):
            if a**n + b**n == c**n :
                print('페르마의 정리는 거짓이다.')
else:
    print('페르마의 정리가 참이다.')

페르마의 정리가 참이다.

# max() 함수 만들기
1. max() 함수는 개수가 가변인 인자의 값들을 비교하여 가장 큰 수를 돌려주는 함수이다. 
2. 이 함수와 같은 행동를 하는 함수를 생성
    - 개수가 가변인 매개변수 생성
    - for문과 if문을 이용하여 함수를 생성

In [113]:
def custom_max(*_list):
    result = _list[0] 
    # for i in range(1,len(args),1):
    for i in _list:    
        if result < i:
            result = i

    return result


custom_max(1,41,5,45,-11212,0,9,10,3333433,223,1,232,23234)

3333433

# 카드 이용 내역

- test_csv 폴더의 유통+업종 데이터를 로드하여 문제를 푸시오

1. 각 컬럼의 이름을 변경 ['기준년월', '업종', '성별', '연령대', '총이용건수', '총이용금액']
2. 기준년월을 시계열로 변경
3. index를 기준년월 변경
4. 데이터를 확인하여서 굉장히 이상한 데이터가 존재 체크
5. 성별 컬럼의 데이터 값을 1은 남자, 2는 여자 변경
6. 남, 녀 성별을 기준으로 연도별 건당 이용 금액의 평균이 몇인지 출력 & 시각화

In [135]:
import pandas as pd
df = pd.read_csv('../test_csv/유통+업종(백화점,+할인점,+슈퍼마켓,+편의점)+카드소비트렌드+데이터_1901_2109.csv', encoding='euc-kr' )
df.head()

     crym tco_btc_nm  ma_fem_dc  agegrp_dc  tco_btc_u_ct  tco_btc_u_am
0  201901        백화점          1          1             1  7.600000e+03
1  201901        백화점          1         10           379  1.945872e+07
2  201901        백화점          1         20         45173  4.747711e+09
3  201901        백화점          1         30        271858  2.791826e+10
4  201901        백화점          1         40        391109  3.791149e+10

In [136]:
df.columns = ['기준년월', '업종', '성별', '연령대', '총이용건수', '총이용금액']
df.head(3)

     기준년월   업종  성별  연령대  총이용건수         총이용금액
0  201901  백화점   1    1      1  7.600000e+03
1  201901  백화점   1   10    379  1.945872e+07
2  201901  백화점   1   20  45173  4.747711e+09

In [137]:
# 시계열로 데이터 변환
pd.to_datetime(df['기준년월'], format= '%Y-%m')

0      1970-01-01 00:00:00.000201901
1      1970-01-01 00:00:00.000201901
2      1970-01-01 00:00:00.000201901
3      1970-01-01 00:00:00.000201901
4      1970-01-01 00:00:00.000201901
                    ...
2643   1970-01-01 00:00:00.000202109
2644   1970-01-01 00:00:00.000202109
2645   1970-01-01 00:00:00.000202109
2646   1970-01-01 00:00:00.000202109
2647   1970-01-01 00:00:00.000202109
Name: 기준년월, Length: 2648, dtype: datetime64[ns]

In [117]:
# 기준년월 컬럼을 인덱스로 변경
df.set_index(df['기준년월'], inplace= True)
df.head()

          기준년월   업종  성별  연령대   총이용건수         총이용금액
기준년월
201901  201901  백화점   1    1       1  7.600000e+03
201901  201901  백화점   1   10     379  1.945872e+07
201901  201901  백화점   1   20   45173  4.747711e+09
201901  201901  백화점   1   30  271858  2.791826e+10
201901  201901  백화점   1   40  391109  3.791149e+10

In [119]:
df(df[['총이용건수','총이용금액']] <0).any(0)

TypeError: 'DataFrame' object is not callable

In [132]:
# 연령대가 0인 데이터를 제외
df_2 = df[~df['연령대'] == 0]

In [133]:
df_2['성별'] = df_2['성별'].apply(lambda x : '남자' if x==1 else '여자')

Series([], Name: 성별, dtype: int64)

In [134]:
# 연도별 남, 녀 건당 이용 평균 금액을 출력 및 시각화
# 연도 컬럼을 생성
df_2['연도'] = df_2.index.strftime('%Y')

AttributeError: 'Int64Index' object has no attribute 'strftime'

In [ ]:
#건당 평균 금액 컬럼 생성
df_2

## 온라인 카드 매출과 오프라인 카드매출을 월별로 비교
1. 오프라인 데이터 df를 월별로 그룹화 총이용금액의 합계
    - 기준년월을 시계열데이터 변경
    - 기준년월 인덱스로 변경
    - 인덱스를 기준으로 그룹화 -> 총이용금액의 합계
2. 온라인 데이터 df_online도 월별로 그룹화 총이용금액의 합계
    - 기준년월을 시계열데이터 변경
    - 기준년월 인덱스로 변경
    - 인덱스를 기준으로 그룹화 -> 총이용금액의 합계
3. 1,2번과정에서 나온 데이터를 plot 그래프를 그려서 차이를 확인
4. 2개의 데이터프레임을 단순한 행 결합
    - df_online에 업종 파생 변수 생성 값은 "온라인"
    - df와 df_online 데이터프레임을 행 결합
    - 월별, 업종별로 총 이용 금액을 pivot_table을 이용하여 그래프 시각화