In [ ]:
service_key = "dtbWOdJ%2FCz5HE0DGLU%2BCRPe7pOW0NIQBUcGEqsHZaTRiYCI%2F5%2BzugwzQjcvuId7NPdg6rUiW%2Bft3fm7yqyD4pw%3D%3D"


url = "http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson"

In [3]:
# open API(메뉴판) 라이브러리 로드
import requests
from urllib import parse   ## 다른 형태 import urllib.parse as parse
import xmltodict

In [2]:
!pip install requests xmltodict

Collecting requests
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ---------------------------------------- 0.0/62.8 kB ? eta -:--:--
     ---------------------------------------- 62.8/62.8 kB ? eta 0:00:00
Collecting xmltodict
  Downloading xmltodict-0.13.0-py2.py3-none-any.whl (10.0 kB)
Collecting charset-normalizer<4,>=2
  Downloading charset_normalizer-3.0.1-cp311-cp311-win_amd64.whl (96 kB)
     ---------------------------------------- 0.0/96.0 kB ? eta -:--:--
     ---------------------------------------- 96.0/96.0 kB 5.7 MB/s eta 0:00:00
Collecting idna<4,>=2.5
  Downloading idna-3.4-py3-none-any.whl (61 kB)
     ---------------------------------------- 0.0/61.5 kB ? eta -:--:--
     ---------------------------------------- 61.5/61.5 kB ? eta 0:00:00
Collecting urllib3<1.27,>=1.21.1
  Downloading urllib3-1.26.14-py2.py3-none-any.whl (140 kB)
     ---------------------------------------- 0.0/140.6 kB ? eta -:--:--
     -------------------------------------- 140.6/140.6 kB 8.7 MB/s eta 0:00:00
Collecting certifi>=2017.4.17
  Downloading certifi-2022.12.7-py3-none-any.whl (155 kB)
     ---------------------------------------- 0.0/155.3 kB ? eta -:--:--
     -------------------------------------- 155.3/155.3 kB 4.5 MB/s eta 0:00:00
Installing collected packages: charset-normalizer, xmltodict, urllib3, idna, certifi, requests
Successfully installed certifi-2022.12.7 charset-normalizer-3.0.1 idna-3.4 requests-2.28.2 urllib3-1.26.14 xmltodict-0.13.0

In [ ]:
## openApi를 이용해서 서버와 통신하여 데이터를 가져오는 작업
## 어느 api에 접속할지 url 변수를 생성

url = "http://openapi.data.go.kr/openapi/service/rest/Covid19/getCovid19InfStateJson"

## 공공데이터포털에서 주소와 함께 보내야되는 요청 변수
#$ 서비스키(공공데이터포탈에서 코로나 현황에 대한 강사님 키값)
service_key = "dtbWOdJ%2FCz5HE0DGLU%2BCRPe7pOW0NIQBUcGEqsHZaTRiYCI%2F5%2BzugwzQjcvuId7NPdg6rUiW%2Bft3fm7yqyD4pw%3D%3D"

param = {
    'serviceKey' : parse.unquote(service_key),  
    ## Parse는 문장을 분석하다 라는 뜻으로 
    ## 프로그래밍에서 parse는 프로그래밍 언어 또는 xml과 json과 같은 표현 언어등을 해석하는 작업
    ## unquote는 문자열을 요청변수화 시키는 함수
    'pageNo' : '1',               ## 페이지 번호
    'numOfRows' : '5000',         ## 페이지당 데이터의 수
    'startCreateDt' : '20220101', ## 데이터의 시작 일자
    'endCreateDt' : '20230210'    ## 데이터의 마지막 일자
}
## 서버에게 요청
response = requests.get(url, params = param)
## response는 xml 형태의 데이터

## xml 데이터를 dict형태로 변환
result = xmltodict.parse(response.content)

print(result)

In [18]:
## result의 결과 안에 response 안에 body 안에 items 안에 item의 데이터
rows = result['response']['body']['items']['item']

In [20]:
import pandas as pd
df = pd.DataFrame(rows)
df.head()

,createDt,deathCnt,decideCnt,seq,stateDt,stateTime,updateDt,accExamCnt
0,2023-02-10 04:22:09.0,33697,30325343,1159,20230210,00:00,2023-02-11 06:02:40.0,NaN
1,2023-02-09 00:13:08.0,33680,30311839,1158,20230209,00:00,2023-02-11 06:03:21.0,NaN
2,2023-02-08 00:10:49.0,33646,30297177,1157,20230208,00:00,2023-02-11 06:03:54.0,NaN
3,2023-02-07 04:25:43.0,33624,30279250,1156,20230207,00:00,2023-02-11 06:04:17.0,NaN
4,2023-02-06 04:20:35.0,33614,30263138,1155,20230206,00:00,2023-02-11 06:04:43.0,NaN

In [23]:
## pandas를 이용하여 csv로 파일 저장
df.to_csv("conora.csv", encoding = 'UTF-8')